@import "tailwindcss/base";
@layer base {
  :root,
  html,
  body,
  #__next {
    @apply h-full bg-white text-black;
  }
}

@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  .h-nav {
    @apply h-14 lg:h-16;
  }

  .pt-nav {
    @apply pt-14 lg:pt-16;
  }
}

@layer utilities {
  .overflow-anywhere {
    overflow-wrap: anywhere;
  }
}

/* Overrides for GraphiQL Explorer */
.graphiql-explorer-graphql-arguments span,
.graphiql-explorer-objects span {
  display: inline-flex !important;
  align-items: center;
}

.graphiql-dialog-close > svg {
  height: 2rem !important;
  width: 2rem !important;
  padding: 0.5rem !important;
}
